[submodule ".config/ranger/plugins/ranger_devicons"]
	path = .config/ranger/plugins/ranger_devicons
	url = https://github.com/alexanderjeurissen/ranger_devicons.git
[submodule "suckless/dmenu"]
	path = suckless/dmenu
	url = https://git.suckless.org/dmenu
[submodule "suckless/sxiv"]
	path = suckless/sxiv
	url = https://github.com/muennich/sxiv.git
[submodule ".zsh-plugins/z.lua"]
	path = .zsh-plugins/z.lua
	url = https://github.com/skywind3000/z.lua.git
[submodule ".zsh-plugins/zsh-autocomplete"]
	path = .zsh-plugins/zsh-autocomplete
	url = https://github.com/marlonrichert/zsh-autocomplete.git
[submodule ".zsh-plugins/zsh-syntax-highlighting"]
	path = .zsh-plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".config/awesome/bling"]
	path = .config/awesome/bling
	url = https://github.com/Nooo37/bling.git
[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/antaxiom/neomesa.git
[submodule ".config/awesome/battery-widget"]
	path = .config/awesome/battery-widget
	url = https://github.com/deficient/battery-widget.git
