Xft.dpi: 140
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintslight
Xft.hinting: true
Xft.antialias: 1
Xft.rgba: rgb

! Colors 0-15.
*.color0: #111111
*color0:  #111111
*.color1: #FF4444
*color1:  #FF4444
*.color2: #55EE82
*color2:  #55EE82
*.color3: #DFBF60
*color3:  #DFBF60
*.color4: #61AFEF
*color4:  #61AFEF
*.color5: #E06CCD
*color5:  #E06CDD
*.color6: #5BC6D1
*color6:  #5BC6D1
*.color7: #DDDDDD
*color7:  #DDDDDD
*.color8: #111111
*color8:  #111111
*.color9: #FF4444
*color9:  #FF4444
*.color10: #55EE82
*color10:  #55EE92
*.color11: #DFBF60
*color11:  #DFBF60
*.color12: #61AFEF
*color12:  #61AFEF
*.color13: #E06CCD
*color13:  #E06CDD
*.color14: #5BC6D1
*color14:  #5BC6D1
*.color15: #DDDDDD
*color15:  #DDDDDD
