Xft.dpi: 140
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintslight
Xft.hinting: true
Xft.antialias: 1
Xft.rgba: rgb

! Base16 TooDark
! Scheme: Antaxiom (https://github.com/antaxiom)

#define base00 #111111
#define base01 #171717
#define base02 #1C1C1C
#define base03 #202020
#define base04 #303030
#define base05 #DDDDDD
#define base06 #BBBBBB
#define base07 #AAAAAA
#define base08 #ef473e
#define base09 #eda35e
#define base0A #e5b967
#define base0B #5edb83
#define base0C #56b6c2
#define base0D #61afef
#define base0E #e579d3
#define base0F #be5046

*foreground:   base05
#ifdef background_opacity
*background:   [background_opacity]base00
#else
*background:   base00
#endif
*cursorColor:  base05

*color0:       base00
*color1:       base08
*color2:       base0B
*color3:       base0A
*color4:       base0D
*color5:       base0E
*color6:       base0C
*color7:       base05

*color8:       base03
*color9:       base08
*color10:      base0B
*color11:      base0A
*color12:      base0D
*color13:      base0E
*color14:      base0C
*color15:      base07

! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt),
! use 'shell' template to set these if necessary
*color16:      base09
*color17:      base0F
*color18:      base01
*color19:      base02
*color20:      base04
*color21:      base06
