Xft.dpi: 135
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintslight
Xft.hinting: true
Xft.antialias: 1
Xft.rgba: rgb

! Colors 0-15.
*.color0: #000000
*color0:  #000000
*.color1: #F44747
*color1:  #F44747
*.color2: #50FA7B
*color2:  #50FA7B
*.color3: #E5C07B
*color3:  #E5C07B
*.color4: #61AFEF
*color4:  #61AFEF
*.color5: #C678dd
*color5:  #C678dd
*.color6: #409CBA
*color6:  #409CBA
*.color7: #BBBBBB
*color7:  #BBBBBB
*.color8: #777777
*color8:  #777777
*.color9: #FF5555
*color9:  #FF5555
*.color10: #98C379
*color10:  #98C379
*.color11: #D19A66
*color11:  #D19A66
*.color12: #6FB8F4
*color12:  #6FB8F4
*.color13: #D55FDE
*color13:  #D55FDE
*.color14: #61B3CE
*color14:  #61B3CE
*.color15: #FFFFFF
*color15:  #FFFFFF
