* {
  all: unset; //Unsets everything so you can style everything from scratch
}

//Global Styles
window {
    background-color: #171717;
    color: #DDDDDD;
    font-family: JetBrainsMono Nerd Font;
}


.item {
    background-color: #1C1C1C;
    margin: 16px 16px 16px 16px;
    font-size: 240%;
}

.item:hover{
    background-color: #202020;
}

.item.extras:hover {
    color: #5edb83;
}

.item.lock:hover,
.item.sleeplock:hover {
    color: #eda35e;
}

.item.shutdown:hover {
    color: #ef473e;
}

.item.reboot {
    font-size: 290%;
}

.item.reboot:hover {
    color: #eda35e;
;

}

.item.sleep:hover {
    color: #e579d3;
}

.item.hibernate:hover {
    color: #e579d3;
}


