@import "material.css";

* {
  border: none;
  font-size: 20px;
  padding: 0px 2px 0px 2px;
  margin: 2px 2px 2px 2px;
  font-family: JetBrainsMonoMedium Nerd Font, Noto Sans CJK JP, Product Sans, Arial, Helvetica, sans-serif;
}
window#waybar {
  animation-name: fadeIn;
  animation-duration: 1s;
  background-color: @darker;
  color: @dark;
  /* border-bottom: 1px solid @darker; */
}
window#waybar.empty {
  /* background-color: @dark; */
}
#workspaces,
#tags {
  font-weight: 500;
  background-color: @dark;
  padding: 0px;
  margin-right: 10px;
  border-radius: 0px;
}
#workspaces button,
#tags button {
  font-size: 18px;
  border-radius: 0px;
  margin: 0px;
  padding: 2px 9px 2px 9px;
  color: @white;
  color: @less-gray;
}
#window {
  color: @gray;
  border-radius: 0px;
  padding: 0px 12px 0px 12px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#workspaces button.occupied,
#tags button.occupied {
  color: @white;
}
#workspaces button.focused,
#tags button.focused {
  color: @purple;
  background-color: @gray;
}
#workspaces button.urgent {
  color: @cyan;
}
/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover,
#tags button:hover {
  background-color: @gray;
  color: @purple;
  box-shadow: inherit;
  text-shadow: inherit;
  opacity: 1;
}
/* TASKBAR */
#taskbar {
  /* margin: 0px; */
}
#taskbar button {
  margin: 0px 3px 0px 3px;
  border-radius: 0px;
  padding: 1px 2px 1px 1px;
}
#taskbar button.active {
  background-color: @darker;
  color: @white;
}
#taskbar button.minimized {
  /* color: @purple; */
}
#taskbar button:hover {
  box-shadow: inherit;
}
/* WIDGETS */
#cpu,
#custom-pacman,
#memory,
#disk,
#network,
#temperature {
  background-color: transparent;
  padding: 0px 14px 0px 14px;
  margin: 2px 0px 2px 0px;
}

#disk {
  color: @purple;
}
#memory {
  color: @orange;
}
#cpu {
  color: @red;
}

#custom-media,
#mpd,
#custom-mpd {
  border-radius: 0px;
  /* font-size: 12px; */
  margin-left: 10px;
  background-color: transparent;
}
#custom-media.Playing {
  color: @yellow;
  border-radius: 0px;
  font-weight: 500;
}
#custom-mpd {
  color: @purple;
  border-radius: 0px;
  font-weight: 500;
}
#custom-pacman {
  color: @orange;
  border-radius: 0px 0px 0px 0px;
  font-weight: 600;
}

#battery,
#backlight,
#tray,
#custom-weather,
#custom-window,
#pulseaudio,
#network,
#clock {
    margin: 2px 3px 2px 3px;
    padding: 0px 6px 0px 6px;
}

#custom-weather {
  font-size: 22px;
  background-color: @transparent;
  color: @yellow;
    margin: 2px 0px 2px 7px;
    padding: 0px 0px 0px 0px;
}

#custom-window {
  background-color: @dark;
  color: @white;
  padding: 0px 12px 0px 12px;
}

#pulseaudio {
  color: @cyan;
  padding: 2px 8px 0px 8px;
}
#pulseaudio.muted {
  opacity: 0.65;
}

#backlight {
    font-size: 30px;
    padding: 0px 4px 0px 4px;
    color: @purple;
}

#network {
  color: @green;
  background-color: @transparent;
  padding: 0px 14px 0px 9px;
}

#battery {
  color: @orange;
  background-color: @transparent;
  padding: 0px 8px 0px 8px;
}

@keyframes blink {
  to {
      opacity: 1;
      opacity: 0.25;
  }
}
#battery.critical:not(.charging) {
  background-color: @transparent;
  color: @red;
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
label:focus {
  background-color: @darker;
}
#idle_inhibitor {
  font-size: 18px;
  color: @gray;
}
#idle_inhibitor.activated {
  color: @cyan;
}
#idle_inhibitor,
#custom-recorder,
#tray {
  background-color: @transparent;
  padding: 0px 4px 0px 4px;
}
#clock {
  background-color: @transparent;
  color: @bright-blue;
  border-radius: 0px 0px 0px 0px;
}
#custom-layout {
  padding: 0px 5px 0px 5px;
}
#custom-recorder {
  padding: 0px 5px 0px 5px;
  font-size: 18px;
}
#custom-recorder.recording {
  color: @red;
}
#tray {
  border-radius: 0px 0px 0px 0px;
  color: @cyan;
}
#custom-power {
  color: @gray;
  font-size: 17px;
  border-radius: 0px 0px 0px 0px;
  margin-right: 2px;
}
